<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input matInput placeholder="Enter the name of your collection" formControlName="label" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput hidden formControlName="imgUrl">
        <app-image-selector
            [model]="form.get('imgUrl')?.value"
            (modelChange)="form.get('imgUrl')?.setValue($event)">
        </app-image-selector>
    </mat-form-field>
    <div formArrayName="customFields">
        <ng-container *ngFor="let customField of customFieldsArray.controls; index as i">
            <fieldset [formGroupName]="i">
                <legend>
                    Custom field {{ i+1 }}
                    <button mat-icon-button type="button" [attr.aria-label]="'Remove custom field '+(i+1)" (click)="removeCustomField(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </legend>
                <mat-form-field appearance="fill">
                    <mat-label>Label</mat-label>
                    <input matInput placeholder="Enter the name the custom field" formControlName="label" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Key</mat-label>
                    <input matInput placeholder="Enter the key of the item" formControlName="key" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option *ngFor="let type of customFieldTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </fieldset>
        </ng-container>
    </div>
    <button mat-button class="btn-add-custom-field" type="button" (click)="addCustomField()">Add custom field</button>
    <section class="actions">
        <button mat-button [routerLink]="['']" type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
</form>
