<mat-card *ngIf="collektion" [attr.data-collektion-id]="collektion.id">
    <mat-card-header>
        <mat-card-title>{{ collektion.label }}</mat-card-title>
    </mat-card-header>
    <ng-template [ngIf]="collektion.imgUrl" [ngIfElse]="noPhoto">
        <a mat-card-image
            [routerLink]="['/collection/', collektion.id]" 
            [ngStyle]="{'background-image': 'url(\''+collektion.imgUrl+'\')'}">
            <img [src]="collektion.imgUrl" hidden [alt]="collektion.label + '  thumb'" loading="lazy">
        </a>
    </ng-template>
    <ng-template #noPhoto>
        <a mat-card-image
            [routerLink]="['/collection/', collektion.id]"
            [ngStyle]="{'background-image':'url(\'assets/default-collection.svg\')'}">
            <img src="assets/default-collection.svg" hidden alt="No image for this collection" loading="lazy">
        </a>
    </ng-template>
    <mat-card-actions [align]="'end'">
        <a mat-button [routerLink]="['/collection', 'edit', collektion.id]">Edit</a>
        <a mat-button [routerLink]="['/collection/', collektion.id]">Open</a>
    </mat-card-actions>
</mat-card>
  