<mat-card *ngIf="item" [attr.data-item-id]="item.id">
    <mat-card-header>
        <mat-card-title>{{ item.label }}</mat-card-title>
    </mat-card-header>
    <ng-template [ngIf]="item.photoUrls && item.photoUrls.length > 0" [ngIfElse]="noPhoto">
        <a mat-card-image
            [ngStyle]="{'background-image': 'url(\''+item.photoUrls[0]+'\')'}">
            <img [src]="item.photoUrls[0]" hidden alt="Photo 1" loading="lazy">
        </a>
    </ng-template>
    <ng-template #noPhoto>
        <a mat-card-image
            [ngStyle]="{'background-image':'url(\'assets/default-item.svg\')'}">
            <img src="assets/default-item.svg" hidden alt="No image for this item" loading="lazy">
        </a>
    </ng-template>
    <mat-card-actions [align]="'end'">
        <a mat-button [routerLink]="'/collection/'+collektionId+'/item/'+item.id">Edit</a>
    </mat-card-actions>
</mat-card>
  