<mat-card *ngIf="item" [attr.data-item-id]="item.id">
    <mat-card-header>
        <mat-card-title>{{ item.label }}</mat-card-title>
    </mat-card-header>
    <ng-template [ngIf]="item.photoUrls && item.photoUrls.length > 0" [ngIfElse]="noPhoto">
        <a mat-card-image
            [ngStyle]="{'background-image': 'url(\''+item.photoUrls[0]+'\')'}">
            <img [src]="item.photoUrls[0]" hidden alt="Photo 1" loading="lazy">
        </a>
    </ng-template>
    <ng-template #noPhoto>
        <a mat-card-image
            [ngStyle]="{'background-image':'url(\'assets/default-item.svg\')'}">
            <img src="assets/default-item.svg" hidden alt="No image for this item" loading="lazy">
        </a>
    </ng-template>
    <mat-card-content>
        <ul>
            <ng-container *ngFor="let customField of collektion?.customFields">
                <li>
                    <ng-container [ngSwitch]="customField.type">
                        <ng-container *ngSwitchCase="'TEXT'">
                            <span class="label">{{ customField.label }}</span>:&nbsp;<span class="value">{{ getCustomFieldAsText(item.customFields, customField) }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'BOOLEAN'">
                            <span class="label">{{ customField.label }}</span>:&nbsp;<span class="value">{{ getCustomFieldAsBoolean(item.customFields, customField) | yesOrNo }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'INTEGER'">
                            <span class="label">{{ customField.label }}</span>:&nbsp;<span class="value">{{ getCustomFieldAsInteger(item.customFields, customField) }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DATE'">
                            <span class="label">{{ customField.label }}</span>:&nbsp;<span class="value">{{ getCustomFieldAsDate(item.customFields, customField) | date }}</span>
                        </ng-container>
                    </ng-container>
                </li>
            </ng-container>
        </ul>          
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <a mat-button [routerLink]="['/collection',collektion?.id,'item','edit',item.id]">Edit</a>
    </mat-card-actions>
</mat-card>
  