@import '~@angular/material/theming';

:host {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 0.2em;

  button {
    font-size: 120%;
    background-color: #673ab7;
    padding: 0.5em 0.9em;
    border: none;
    border-radius: 1.5em;
    @include mat-elevation-transition;
    @include mat-elevation(2);

    &:hover {
      @include mat-elevation(4);
    }
  }
}
