:host {
    display: block;
    padding: 1rem;
    width: 100%;

    mat-form-field, button.btn-add-custom-field {
        width: 100%;
    }

    mat-checkbox {
        width: 100%;
        padding: 0 0.5em 1.34375em 0.5em;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }
}