<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input matInput placeholder="Enter the name of your collection" formControlName="label" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput hidden formControlName="photoUrls">
        <app-image-selector
            [model]="form.get('photoUrls')?.value"
            (modelChange)="form.get('photoUrls')?.setValue($event)">
        </app-image-selector>
    </mat-form-field>
    <div formArrayName="customFields">
        <ng-container *ngFor="let customField of customFieldsArray.controls; index as i">
            <ng-container [ngSwitch]="customField.type">
                <ng-container *ngSwitchCase="'TEXT'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ customField.label }}</mat-label>
                        <input matInput
                            [placeholder]="'Enter the value for '+customField.label"
                            [formControlName]="i">
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'INTEGER'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ customField.label }}</mat-label>
                        <input matInput
                            type="number"
                            step="1"
                            [placeholder]="'Enter the value for '+customField.label"
                            [formControlName]="i">
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'BOOLEAN'">
                    <mat-checkbox [formControlName]="i">{{ customField.label }}</mat-checkbox>
                </ng-container>
                <ng-container *ngSwitchCase="'DATE'">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ customField.label }}</mat-label>
                        <input matInput
                            [matDatepicker]="picker" 
                            [placeholder]="'Enter the value for '+customField.label"
                            [formControlName]="i">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <section class="actions">
        <button mat-button [routerLink]="['/collection', collektion?.id]" type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
</form>
