<ng-container *ngIf="collektion$ | async as collektion">
    <ng-container *ngIf="items$ | async as items; else noItems">
        <ng-container *ngFor="let item of items">
            <app-item-tile [collektion]="collektion" [item]="item" (remove)="onRemoveClick($event)"></app-item-tile>
        </ng-container>
    </ng-container>
    <ng-template #noItems>
        <div>No items in this collection.</div>
    </ng-template>
    <app-add-button (add)="goToAddItem()"></app-add-button>
</ng-container>
